{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "8"
        },
        "modules": "commonjs"
      }
    ]
  ],
  "plugins": ["import-graphql", "transform-object-rest-spread"]
}
